@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 700;
  src: local('Spoqa Han Sans Bold'),
       url('../../assets/font/Spoqa Han Sans Bold.woff2') format('woff2'),
       url('../../assets/font/Spoqa Han Sans Bold.woff') format('woff'),
       url('../../assets/font/Spoqa Han Sans Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  src: local('Spoqa Han Sans Regular'),
       url('../../assets/font/Spoqa Han Sans Regular.woff2') format('woff2'),
       url('../../assets/font/Spoqa Han Sans Regular.woff') format('woff'),
       url('../../assets/font/Spoqa Han Sans Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 300;
  src: local('Spoqa Han Sans Light'),
       url('../../assets/font/Spoqa Han Sans Light.woff2') format('woff2'),
       url('../../assets/font/Spoqa Han Sans Light.woff') format('woff'),
       url('../../assets/font/Spoqa Han Sans Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 100;
  src: local('Spoqa Han Sans Thin'),
       url('../../assets/font/Spoqa Han Sans Thin.woff2') format('woff2'),
       url('../../assets/font/Spoqa Han Sans Thin.woff') format('woff'),
       url('../../assets/font/Spoqa Han Sans Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'icomoon';
  src: url('../../assets/font/icomoon.eot');
  src: url('../../assets/font/icomoon.eot') format('embedded-opentype'),
    url('../../assets/font/icomoon.ttf') format('truetype'),
    url('../../assets/font/icomoon.woff') format('woff'),
    url('../../assets/font/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

